<html>
    <head>
        <title>
             updated
        </title>
    </head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .card-body
{
  box-shadow: 0 4px 8px 0 rgba(0, 3, 4, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}  


.title {
  color: grey;
  font-size: 18px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #3498DB;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
.main
{
  padding-top: 2.5%;
  padding-right:1.5%;
  padding-bottom: 1%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.profile
{
    padding-top: 5%;
}
.input{
    padding-bottom: 5% ;
}
        </style>
       
    <body>
         <form action="/update" method="post">
        
        <div class="main">
            <div class="profile">
              <div class="card-body">
              <img src="./pic/Twitter-Symbol.png"
              class="rounded-circle img-fluid"  style="padding-left:1%;" style="width: 100px" style="height:125cm" alt="./pic/list.jpg">
              <br>
              <h3><b><%=name%></b></h3>
              <p class="title"><%=email%></p>
              <div style="margin: 24px 0;">
              <i class="fa fa-linkedin"></i>
              <i class="fa fa-facebook"></i>
              <i class="fa fa-github"></i>
              <i class="fa fa-medium"></i>
          </div>
          <form action="/update" method="post">
          <div><div class="input">
            <input type="text" name="input" size="27%" style="height:30%">
          </div>
          <div class="button1">
            <button type="submit" class="rounded-3 btn btn-secondary ms-1">Update</button> 
        </div>
        </div>
          </form>
          
      </div>
      </div>
        </form>
    </body>
</html>